<!DOCTYPE html>
<html>

    <head>
        <title>The Blog</title>
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
        <meta name="google" content="notranslate" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
            crossorigin="anonymous" />
    </head>

    <body>
        <style>
            body {
            font-family: "Roboto", sans-serif;
            font-size: 17px;
            background-color: #fdfdfd;
        }
        .shadow {
            box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1);
        }
        .btn-danger {
            color: #fff;
            background-color: #f00000;
            border-color: #dc281e;
        }

        .dark-mode {
            background-color: grey;
        }
        .masthead {
            background: #3398E1;
            height: auto;
            padding-bottom: 15px;
            box-shadow: 0 16px 48px #E3E7EB;
            padding-top: 10px;
        }
    </style>

        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow" id="mainNav">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">Poor mans blog</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!--<button>Helo</button>-->
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                            <li class="nav-item text-black">
                                  <button onClick ="myFunction()">Toggle Dark Mode</button>
                                </li>
                        <li class="nav-item text-black">
                            {% if user.is_authenticated%}
                            <form class="logout-link nav-link text-black font-weight-bold">
                                    <button type="submit">user:{{user.username}}</button>
                                </form>
                            {% else %}
                            <form class="logout-link nav-link text-black font-weight-bold" action="{% url 'accounts:signup' %}" method="GET">
                                    <button type="submit">Register</button>
                                </form>
                            {%endif%}
                        </li>
                        <li class="nav-item text-black">
                            {%if user.is_authenticated%}
                            <form class="logout-link nav-link text-black font-weight-bold" action="{% url 'accounts:logout' %}" method="POST">
                                {% csrf_token %}
                                <button type="submit">Logout</button>
                            </form>
                            {% else %}
                            <form class="logout-link nav-link text-black font-weight-bold" action="{% url 'accounts:login' %}" method="GET">
                                <button type="submit">Log in</button>
                            </form>
                            {%endif%}
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
        <!-- Footer -->

        <footer class="py-3 bg-grey">
            <p class="m-0 text-dark text-center ">Copyright &copy; All the people I stole the code from</p>
        </footer>
        <script>
        function myFunction(){
            var element = document.body;
            var element2= document.getElementById("myClass");
            element.classList.toggle("dark-mode");
            element2.classList.toggle("dark-mode");
        }
        </script>
        </body>
    </body>
</html>