{% extends 'base.html' %} {% block content %}
<h1>Edit</h1>

{%if comment_id%}
<form method = 'POST' style="margin-top:1.3em" action="{%url 'save'%}">
    {% csrf_token %}
    <input type="submit text" name="text" value="{{commentText}}">
    <input type="hidden"  name="comment_id" value="{{comment_id}}">
    <button type="submit" class="btn btn-primary btn-lb">Save</button>

</form>
{%endif%}

{%if post_id%}
<form method = 'POST' style="margin-top:1.3em" action="{%url 'save'%}">
    {% csrf_token %}
    <input type="submit text" name="text" value="{{postText}}" width="200 px" height="40 px">
    <input type="hidden"  name="post_id" value="{{post_id}}">
    <button type="submit" class="btn btn-primary btn-lb">Save</button>

</form>
{%endif%}

{% endblock content %}