{%extends 'base.html'%}

{%block content%}
<h1>Log in</h1>
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
<form class="site-form" action="{% url 'accounts:login'%}" method="POST">
    {%csrf_token%}
    {{form}}
    <input type="submit" value="Log in">
</form>
{%endblock%}