{% extends 'base.html' %} {% block content %}
<h1>Write new Article</h1>
<form method="post" action="{% url 'nArticle'  %}" style="margin-top: 1.3em">
        {% csrf_token %}
    <div style="padding : 10px">
        <a>New title</a>
        <a>{{ArticleForm.title}}</a>
    </div>

    <div style="padding : 10px">
            <a>Slug</a>
            <a>{{ArticleForm.slug}}</a>
    </div>


    <div style="padding : 10px">
        <a>Text</a>
        <a>{{ArticleForm.content}}</a>
    </div>
    
    <input class='small' type='submit' value="PUBLISH" name='publish'>
</form>

{% endblock content %}