{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8 card mb-4  mt-3 left  top">
      <div class="card-body">
        <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>
        <p class=" text-muted">{{ post.author }} | {{ post.created_on }}</p>
        <p class="card-text ">{{ post.content | safe }}</p>
      </div>
    </div>
    {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %}

    <div class="col-md-8 card mb-4  mt-3 "id = "myClass">
      <div class="card-body">
        <!-- comments -->
        <h2>{{ comments.count }} comments</h2>

        {% for comment in comments %}
        {% if not comment.parent_id and comment.active%}
        <div class="comments" style="padding: 10px;">
          <p class="font-weight-bold">
            <a>By {{ comment.name }}, Votes: {{comment.votes.count}}</a>
            <span class=" text-muted font-weight-normal">
              {{ comment.created_on }}
            </span>
          </p>
          {{ comment.body | linebreaks }}
        </div>
        {%if user.is_authenticated%}
            <form method="post" action="{% url 'reply'%}" style="margin-top: 1.3em;">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <input type="hidden"  name="comment_id" value="{{comment.id}}">
                <button type="submit" class="btn btn-primary  btn-lg">Reply</button>
            </form>
            
            {%if comment.name|stringformat:"s" == user.username or user.username == "admin" %}
              <!-- dodano test za edit-->
              <form method="POST" action="{% url 'edit'%}" style="margin-top: 1.3em;">
                {% csrf_token %}
                <input type="hidden"  name="comment_id" value="{{comment.id}}">
                <button type="submit" class="btn btn-primary  btn-lg">EDIT</button>
              </form>
            {%endif%}

            <form method="post" action="{% url 'upvote'  %}" style="margin-top: 1.3em">
              {% csrf_token %}
              <input class='small' type='submit' value='+1CHANGED' name='commentup'>
              <input type="hidden" name="comment_id" value="{{comment.id}}">
          </form>
          <form method="post" action="{% url 'downvote'  %}" style="margin-top: 1.3em">
            {% csrf_token %}
            <input class='small' type='submit' value='-1Changed'  name='commentdown'>
            <input type="hidden" name="comment_id" value="{{comment.id}}">
        </form>
            {%else%}
            <div class="card-body">
                <h3>Must be logged in to reply</h3>
            </div>
            {%endif%}
        {%endif%}


        <div class = "replied-comments container mt-2">
          {%for reply in comment.replies.all%}
          {%if reply.active%}
          <small>
          <div class="comments" style="padding: 10px;">
                <p class="font-weight-bold">
                    <a>By {{ reply.name }}, Votes: {{reply.votes.count}}</a>
                    <span class=" text-muted font-weight-normal">
                      {{ reply.created_on }}
                    </span>
                </p>
                {{ reply.body | linebreaks }}

                {% if user.is_authenticated%}
              <form method="post" action="{% url 'reply' %}" style="margin-top: 1.3em;">
                  {{ comment_form.as_p }}
                  {% csrf_token %}
                  <input type="hidden" name="comment_id" value="{{reply.id}}">
                  <button type="submit" class="btn btn-primary  btn-lg">ReplyChanged</button>
              </form>
              <!-- dodano test za edit-->
            {% if comment.name|stringformat:"s" == user.username or user.username == "admin" %}
              <form method="POST" action="{% url 'edit'%}" style="margin-top: 1.3em;">
                {% csrf_token %}
                <input type="hidden"  name="comment_id" value="{{comment.id}}">
                <button type="submit" class="btn btn-primary  btn-lg">EDIT</button>
              </form>
            {%endif%}

              <form method="post" action="{% url 'upvote'  %}" style="margin-top: 1.3em">
                  {% csrf_token %}
                  <input class='small' type='submit' value='+1CHANGED' name='commentup'>
                  <input type="hidden" name="comment_id" value="{{reply.id}}">
              </form>
              <form method="post" action="{% url 'downvote'  %}" style="margin-top: 1.3em">
                {% csrf_token %}
                <input class='small' type='submit' value='-1Changed'  name='commentdown'>
                <input type="hidden" name="comment_id" value="{{reply.id}}">
            </form>
              {%endif%}
            </div>
          </small>
          {%endif%}

          {%endfor%}
          <div class="form-group row">
            

          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    {%if user.is_authenticated%}
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        {% if new_comment %}
        <div class="alert alert-success" role="alert">
          Your comment is awaiting moderation
        </div>
        {% else %}
        <h3>Leave a comment</h3>
        <form method="post" style="margin-top: 1.3em;">
            {{ comment_form.as_p }}
            {% csrf_token %}
            <button type="submit" class="btn btn-primary  btn-lg">Submit</button>
        </form>
        {% endif %}
      </div>
    </div>
    {%else%}
    <div class="col-md-8 card mb-4  mt-3 ">
      <div class="card-body">
        <h3>Must be logged in to comment</h3>
      </div>
    </div>
    {%endif%}
  </div>
</div>
{% endblock content %}