        {% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
{%if user.is_authenticated%}
<div class="col-md-4 float-right ">
<div class="card my-4">
    
        <h5 class="card-header">For Writers</h5>
    <div class="card-body">
        
        <form method="GET" action="{%url 'nArticle'%}">
          <input class="btn btn-danger" type="submit" value = "New Article">
        </form>
    </div>
  
</div>
</div>
{%endif%}
{% endblock sidebar %}
