{%extends 'base.html'%}

{%block content%}
<h1>Sign up</h1>
<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>
<form class="site-form"  method="POST">
    {%csrf_token%}
    {{form}}
    <input type="submit" value="signup"action="{%url 'accounts:signup'%}" >
</form>
{%endblock%}